@CHARSET "UTF-8";
	body{
		display:flex;
		justify-content: center;
  		align-items: center;
	}
	#container{
		display:flex;
		width:300px;
		background:#999999;
		justify-content:center;
		align-contentL:space-between;
	}
	.top_button{
		height:20px;
		width:300px;
		background:#999999;
		display:flex;
		justify-content:flex-start;
	}
	.mainbody{
		display:flex;
		width:300px;
		justify-content:center;
		align-contentL:space-between;
		flex-wrap:wrap;
		background:#999999;
	}
	.text{
		text-align:right;
		height:50px;
		font-size:30px;
		width:290px;
		padding-right:10px;
		background:#999999;
		border:none;
		color:white;
		font-family:"微软雅黑";
	}
	.element{
		display:flex;
		width:300px;
		justify-content:space-between;
		align-contentL:space-between;
		flex-wrap:wrap;
		background:#999999;
		flex-grow:1;
	}
	.button{
		width:74.8px;
		height:60px;
	}
	.button0{
		flex-grow:2;
		height:60px;
	}
	.color_button{
		width:74.8px;
		height:60px;
		background:#F69232;
		border-color:#F69232;
	}
	.circle1{

		width:15px;
		height:15px;
		background:#FF564E;
		border:none;
		border-radius:50%;
		margin:2px;
	}
	.circle2{
		
		width:15px;
		height:15px;
		background:#FFBE2F;
		border:none;
		border-radius:50%;
		margin:2px;
	}
	.circle3{
		
		width:15px;
		height:15px;
		background:#28CA40;
		border:none;
		border-radius:50%;
		margin:2px;
	}